/* Header Modifications */
#header_title {
    color: maroon;
    font-size: 1.75rem;
}

#nav_bar {
    max-width: 100vw;
}


/* Sidebar Modifications */
#sidebar {
    position: absolute;
    right: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: auto;
}



/* Footer Modifications */
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: grey;
}



/* Carousel Modifications */
.carousel-inner {
    height: calc(100vh - 4.25rem);
    background-color: black;
    margin-top: 4.25rem;
}

.carousel-item {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}

.carousel_row {
    margin: 0;
}

#carousel_container {
    padding: 0;
    margin-bottom: 1rem;
}


/* Need to add flexibility for viewport for small phones - Title must be smaller */
@media screen and (max-width:640px) {
    #header_title{
        font-size: 1.5rem;
    }

    #sidebar {
        position: relative;
    }
}